html
    head
        title Workout Statistics
        meta(charset="utf-8")
        link(rel="shortcut icon", href="https://cdn.dribbble.com/users/143433/screenshots/2325148/untitled-1.png", type="image/png")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
        script(type='text/javascript').
            //console.log('yoo')
            $(document).ready(function() {
                $('#statsTable').DataTable();
            });
        script(type='text/javascript').
            var url_string = location.href
            var url = new URL(url_string)
            var userid = url.searchParams.get("userid")
            console.log(userid);
            var userinfo = !{JSON.stringify(userdata)}
            console.log(userinfo);
            document.getElementById("profilePicture").src = userinfo.profile_pic;
            document.getElementById("username").innerHTML=userinfo.first_name+" "+userinfo.last_name;
            document.title = userinfo.first_name+"'s workout stats"
          

    body(style="background: #a0a0a0;")
        div(class="container-fluid" style="background:#000000;")
            img(src="https://cdn.dribbble.com/users/143433/screenshots/2325148/untitled-1.png", class="img img-responsive img-circle col-lg-2 col-md-2 col-sm-4 col-xs-4 col-lg-offset-5 col-md-offset-5 col-sm-offset-4 col-xs-offset-4")       
        div(class="container-fluid", style="background:#303030;")
            br
            img(id="profilePicture", class="img img-responsive img-circle col-lg-2 col-md-3 col-sm-4 col-xs-4 col-lg-offset-5 col-md-offset-6 col-sm-offset-4 col-xs-offset-4")
            br
            h3(id="username" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color:#FFD700;") 
        
        div(class="container-fluid", style="background:#000000; padding:5px;")
        div(class="container", style="background: #a0a0a0;")
            table(id="statsTable", class="col-lg-10 col-md-10 col-sm-10 col-xs-10 table " style="")
                thead
                    tr
                        th(class="text-center") DATE
                        th(class="text-center") EXERCISE
                        //-th Weighted
                        th(class="text-center") WEIGHT (in lbs)
                        th(class="text-center") SETS
                        th(class="text-center") REPS
                tbody
                    each val in message
                        tr
                            td(class="text-center")= val.date
                            td(class="text-center")= val.exerciseName
                            //-td= val.weighted
                            td(class="text-center")= val.weight
                            td(class="text-center")= val.sets
                            td(class="text-center")= val.reps