html
    head
        title Workout Statistics
        link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(type='text/javascript').
            console.log('yoo')
            $(document).ready(function() {
                $('#statsTable').DataTable();
            } );
        //-
            script(type='text/javascript').
                console.log('scripting ... [userid to username]')
                var url_string = location.href
                var url = new URL(url_string)
                var userid = url.searchParams.get("userid")
                console.log(userid);
                console.log("https://graph.facebook.com/v2.6/"+userid)
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(xhttp.responseText);
                    }
                };
                xhttp.open("GET", "https://graph.facebook.com/v2.6/"+userid, true);
                xhttp.send();

        script(type='text/javascript').
            var url_string = location.href
            var url = new URL(url_string)
            var userid = url.searchParams.get("userid")
            console.log(userid);
            $.ajax({
                url: "https://graph.facebook.com/v2.6/"+userid+"?access_token=EAAHTevQllzYBAPueASJIDAWlCJnWiZCYy0M9KmVv3Tjw2yXTUkdROnIf3ZCqzu6uSeTKDFIgGNMioocOJ08m0qY516b9C2FF7bA8l3XsyMto27a4wn3cqzMxrOhyaF5wuKtk5ZCyB6iZAXbf8wcCqsKgZCLKGUFS5zbYW245O8wZDZD",
                success: function(data) {
                    console.log(data)
                    document.getElementById("profilePicture").src = data.profile_pic
                    document.getElementById("username").innerHTML=data.first_name+" "+data.last_name;
                }
            });

    body(style="background:#696969;")        
        div(class="container")
            br
            img(id="profilePicture", class="img img-responsive img-circle col-lg-2 col-md-3 col-sm-4 col-xs-4 col-lg-offset-5 col-md-offset-6 col-sm-offset-4 col-xs-offset-4")
            br
            h3(id="username" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color:#FFD700;") 
            table(id="statsTable", class="table table-hover")
                thead
                    tr
                        th Date
                        th Exercise
                        //-th Weighted
                        th Weight(in lbs)
                        th Sets
                        th Reps
                tbody
                    each val in message
                        tr
                            td= val.date
                            td= val.exerciseName
                            //-td= val.weighted
                            td= val.weight
                            td= val.sets
                            td= val.reps
